<h1 class="mb-3">Documentary films Index</h1>

<%= link_to "Add a documentary", documentary_films_new_path, class: "btn btn-dark mb-3" %>

<%= render "shared/card_gallery", card_gallery_model: @documentary_film %>
